.filterWrapper {
  grid-area: f;
  position: relative;
}

.toggleButton {
  position: absolute;
  top: 0.6875rem;          /* 11px */
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1000;
  background: white;
  color: black;
  padding: 0.094rem 0.281rem; /* 1.5px 4.5px */
  border-radius: 0.1875rem;   /* 3px */
  box-shadow: 0 0 0.141rem rgba(0,0,0,0.3); /* 2.25px */
  font-size: 0.875rem;        /* символи пропорційні */
}

.panelContainer {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: opacity 0.2s ease;
}

.panelContainer.closed {
  opacity: 0;
}

.panelContainer.open {
  opacity: 1;
}
