.content {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.content h2 {
  margin-bottom: 15px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 10px 15px;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e0f7fa;
}

td:first-child {
  text-align: center; /* для нумерації */
  width: 50px;
}
.content {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.content h2 {
  margin-bottom: 15px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 10px 15px;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e0f7fa;
}

td:first-child {
  text-align: center; /* для нумерації */
  width: 50px;
}


thead{
  text-align: center;
}


/* Контейнер */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 8px;
  right: 0px;
}

/* Прихований чекбокс */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Повзунок */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* Кнопка */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Активний стан */
input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.switchWrapper{
  display: flex;

}

.sliderDesc{
  flex:right;
  margin-left: 10px;
  padding-top: 5px;
}

.headerPanel{
  display:flex;
  justify-content: space-between;
}

