.panel {
    width: 100%;

  grid-area: f;
  /* margin-right:  0px 5px; */
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  background-color:aliceblue;
  height: auto;
    position: relative;
  z-index: 100; /* щоб дропдаун був поверх інших елементів грида */

}

.panelContent {
  margin: 10px 10px;
  color: black; /* явно чорний текст */


}


s.menu{
  display:flex;
  flex-direction: row;
}
.menu button {
  padding: 2px 6px;
  font-size: 0.75rem;   /* було ~0.9rem або 16px */
  border: 1px solid #ccc;
  background: #f5f5f5;
  line-height: 1.1;
}
