.panel {
  grid-area: f;
  margin:  100px 5px;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  background-color:aliceblue;
  height: auto;
    position: relative;
  z-index: 100; /* щоб дропдаун був поверх інших елементів грида */

}

.panelContent{
  margin: 10px 10px;
}

s.menu{
  display:flex;
  flex-direction: row;
}