.wrapper{
  margin-top: 40px;
}

.checkboxRow {
  display: block;
  margin-bottom: 10px;
}

.checkboxRow input {
  margin-right: 8px;
}

.passwordRow {
  margin-bottom: 10px;
  display: flex;
}

.passwordRow input {
  margin-right: 10px;
}