.customCheckbox {
display: flex;
align-items: center;
cursor: pointer;
position: relative;
margin: 5px 0;
font-size: 22px;
user-select: none;
}

.customCheckbox input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

.checkboxSpan {
position: relative;
width: 20px;
height: 20px;
background-color: var(--bg-color, white);
border-radius: 50%; /* кругла форма */
display: inline-block;
margin-right: 8px;
transition: background-color 0.2s;
}

.customCheckbox input:checked + .checkboxSpan::after {
content: '';
position: absolute;
left: 5px;
top: 1px;
width: 6px;
height: 12px;
border: solid var(--check-color, black);
border-width: 0 3px 3px 0;
transform: rotate(45deg);
}

.customCheckbox input:hover + .checkboxSpan {
filter: brightness(0.9);
}
.customCheckbox input:disabled + .checkboxSpan + .labelText {
  text-decoration: line-through;
  opacity: 0.6;
  cursor: not-allowed;
}