nav {
  text-decoration: none;
  color: white;
  padding-top: 25px;     /* трохи більше ніж 20px */
  padding-left: 10px;
  min-width: 220px;
  max-width: 220px;
}

.item {
  margin-bottom: 8px;    /* трохи більше, ніж 6px */
}

/* Кнопка "Довідники" */
.dropdownBtn {
  background: none;
  border: none;
  font-size: 1.3em;      /* трохи більше, ніж 1.2em */
  cursor: pointer;
  color: white;
  text-align: left;
  padding: 0;
}

.dropdownBtn:hover {
  color: rgb(0, 229, 255);
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  margin-left: 12px;     /* трохи більше ніж 10px */
  margin-top: 5px;       /* трохи більше ніж 3px */
}

.dropdownContent a {
  color: white;
  text-decoration: none;
  font-size: 1.05em;     /* трохи більший шрифт */
  margin: 3px 0;         /* трохи більший відступ */
}

.dropdownContent a:hover {
  color: rgb(0, 229, 255);
}

.item a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;      /* трохи більше, ніж 1.2em */
}

.item a:hover {
  color: rgb(0, 229, 255);
}

.item a.activeLink {
  color: rgb(0, 229, 255);
}
