.content {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.content h2 {
  margin-bottom: 15px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 10px 15px;
  border: 1px solid #ddd;
}

th {
  background-color: #ddd;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e0f7fa;
}

td:first-child {
  text-align: center; /* для нумерації */
  width: 50px;
}
.content {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.content h2 {
  margin-bottom: 15px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 10px 15px;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e0f7fa;
}

td:first-child {
  text-align: center; /* для нумерації */
  width: 50px;
}


thead {
  text-align: center;
  background-color: greenyellow;
}

thead th {
  background-color: greenyellow;
}

.mainDepartment{
  background-color: blue;
}

.section {
  background-color: orange;
}

