.content {
  padding: 20px;
  padding-top: 0px;
  font-family: Arial, sans-serif;
}

thead {
  text-align: center;
  background-color: greenyellow;
}

thead th {
  background-color: greenyellow;
}

.mainDepartment{
  background-color: rgb(156, 156, 238);
}

.section {
  background-color: rgb(252, 195, 89);
}





@keyframes slideToEnd {
  from {
    left: 0;
  }
  to {
    left: 100%;
    transform: translateX(-100%); /* щоб елемент залишився всередині td */
  }
}
.cell {
  position: relative;
  overflow: hidden;

  padding: 8px; /* щоб збільшити область hover */
}

.text {
  transition: opacity 0.3s ease;
}

.hideText {
  opacity: 0;
}
tr{
  cursor: pointer;
}
.arrow {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), opacity 0.3s ease;
}

.showArrow {
  opacity: 1;
}

.moveRight {
  transform: translate(calc(500% - 20px), -50%);
}


@keyframes highlight-even {
  0% {
    background-color: #b2ebf2;
  }
  100% {
    background-color: #f9f9f9; /* кінцевий колір для парних рядків */
  }
}

@keyframes highlight-odd {
  0% {
    background-color: #b2ebf2;
  }
  100% {
    background-color: #ffffff; /* кінцевий колір для непарних рядків */
  }
}

/* клас для підсвічування рядка */
.searchedRow.even {
  animation: highlight-even 3s step-end forwards;
}

.searchedRow.odd {
  animation: highlight-odd 3s step-end forwards;
  
}




@keyframes light {
  0% {
    background-color: #d6ddde;
  }
  100% {
    background-color: inherit; 
  }
}

.hideBright {
  animation: light 3s step-end ;
}


.focusOnsearchedResultsWhenPagesLinkOnCurrentPagePressed{
  background-color: #b2ebf2 !important;
}

.hideBrightWhenPagesLinkOnCurrentPagePressed{
   background-color: #d6ddde;
}

.tableWrapper {
  display: flex;
  align-items: flex-start;
}

.colNumbers {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  text-align: right;
  font-weight: bold;
  margin-top:90px;
}


@keyframes hideDigits {

  100% {
    
    display: none;
  }
}

.colNumbers div {  
  height: 40px;
  color: red;
  font-weight: bolder;
  animation: hideDigits 3s step-end forwards; 
}

.showColnumbersWhenPagesLinkOnCurrentPagePressed{
   opacity: 1;
  visibility: visible;
} 

