.content {
  padding: 20px;
  padding-top: 0px;
  font-family: Arial, sans-serif;
}

thead {
  text-align: center;
  background-color: greenyellow;
}

thead th {
  background-color: greenyellow;
}

.mainDepartment{
  background-color: rgb(156, 156, 238);
}

.section {
  background-color: rgb(252, 195, 89);
}


