
.mainDepartment{
  text-align: center;
  background-color: rgb(156, 156, 238);
}

.section {
  text-align: center;
  background-color: rgb(252, 195, 89);
}

.hideBrightLines{
   background-color: #d6ddde;
}

.hideBrightLinesFade  {
  animation: light 3s step-end ;
}
@keyframes light {
  0% {
    background-color: #d6ddde;
  }
  100% {
    background-color: inherit; 
  }
}


