
.mainDepartment{
  text-align: center;
  background-color: rgb(156, 156, 238);
}

.section {
  text-align: center;
  background-color: rgb(252, 195, 89);
}

.dimGroupRow{
   background-color: #d6ddde;
}

.dimGroupRowFade  {
  animation: light 3s step-end ;
}
@keyframes light {
  0% {
    background-color: #d6ddde;
  }
  100% {
    background-color: inherit; 
  }
}


.breakImage {
  float: left;       /* вирівнювання праворуч всередині td */
  height: 15px;       /* висота картинки, підкоригуй під дизайн */
  width: auto;        /* зберігаємо пропорції */
  margin-left: 18px;   /* відступ від тексту */
}