.wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

