/* =========================
   1. Контейнери та основні блоки
   ========================= */

.cellContent {
  cursor: pointer;
  position: relative;       
  color: blue;
  font-weight: bold;
  width: 100%;
  will-change: opacity, transform; /* підказка браузеру для плавних анімацій */
  white-space: nowrap;
}

.text {
  transition: opacity 0.3s ease;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), opacity 0.3s ease;
}

/* =========================
   2. Стани елементів
   ========================= */

.hideText {
  opacity: 0;
}

.showArrow {
  opacity: 1;
}

.moveRight {
  transform: translateX(50px) translateY(-50%);
}
