.app-wrapper{
  display:grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
  "h h"
  "n c"

}
.header{
  grid-area: h;
  grid-gap: 10px;
  background-color: aquamarine;
}

.content{
  grid-area: c;
  background-color: rgb(220, 220, 224);
  height: 1000px;
}
.nav{
  grid-area: n;
  background-color:antiquewhite;
  height: 1000px;
}